

body {
width: 1920px;
height: 1080px;
background: rgba(25,41,85,1);/* Old Browsers */
background: -moz-linear-gradient(-45deg, rgba(25,41,85,1) 0%, rgba(25,41,85,1) 4%, rgba(25,41,85,1) 31%, rgba(1,1,1,1) 86%, rgba(1,1,1,1) 90%); /* FF3.6+ */
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(25,41,85,1)), color-stop(4%, rgba(25,41,85,1)), color-stop(31%, rgba(25,41,85,1)), color-stop(86%, rgba(1,1,1,1)), color-stop(90%, rgba(1,1,1,1)));/* Chrome, Safari4+ */
background: -webkit-linear-gradient(-45deg, rgba(25,41,85,1) 0%, rgba(25,41,85,1) 4%, rgba(25,41,85,1) 31%, rgba(1,1,1,1) 86%, rgba(1,1,1,1) 90%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, rgba(25,41,85,1) 0%, rgba(25,41,85,1) 4%, rgba(25,41,85,1) 31%, rgba(1,1,1,1) 86%, rgba(1,1,1,1) 90%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, rgba(25,41,85,1) 0%, rgba(25,41,85,1) 4%, rgba(25,41,85,1) 31%, rgba(1,1,1,1) 86%, rgba(1,1,1,1) 90%); /* IE 10+ */
background: linear-gradient(135deg, rgba(25,41,85,1) 0%, rgba(25,41,85,1) 4%, rgba(25,41,85,1) 31%, rgba(1,1,1,1) 86%, rgba(1,1,1,1) 90%);/* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#192955', endColorstr='#010101', GradientType=1 );/* IE6-9 fallback on horizontal gradient */
}